main {
  padding-top: clamp(1.5rem,20vw,var(--h-header));
}
main section {
  height: min(100vh,200vw);
}


main section.hero {
  position: relative;
  background-color: #fff;
  background-color: transparent;
}
main section.hero h2 {
  color: var(--c-darkest);
  opacity: 0.75;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1rem,50vw,35vh);
  line-height: 0.8;
  padding-top: min(2%,2vh);
 }
main section.hero div.img_wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 68%;
}
main section.hero div.img_wrapper img {
  height: 100%;
}
main section.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,
  rgb(255, 255, 255,1) 0%,
  rgb(255, 255, 255,1) min(10vw,3rem),
  rgba(255,255,255,0) 50%);
}
main section.hero h3 {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  z-index: 1;
  font-size: clamp(0.5rem,7vw,5vh);
  padding-bottom: min(2vw,0.5rem);
  color: var(--c-darkest);
  opacity: 0.9;
}








section.highlight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: var(--c-darkest);
}
section.highlight > h2 {
  text-align: center;
  font-size: clamp(0.5rem,10vw,7vh);
  padding-top: min(10vw,2rem);
  color: white;
}
section.highlight input {
  display: none;
}



section.highlight div.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  perspective: 100vw;
  transform-style: preserve-3d;
  overflow: hidden;
}
section.highlight div.cards label {
  position: absolute;
  height: 80%;
  max-width: 75%;
  aspect-ratio: 0.7;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 1000ms;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
section.highlight div.cards label:nth-of-type(2) {
  background-image: url("/img/hongkong.jpg");
  background-size: cover;
  background-position: 100% 100%;
}
section.highlight div.cards label:nth-of-type(1) {
  background-image: url("/img/bangkok.jpg");
  background-size: cover;
  background-position: 100% 40%;
}
section.highlight div.cards label:nth-of-type(3) {
  background-image: url("/img/tokyo.jpg");
  background-size: cover;
  background-position: 72.5% 0%;
}
section.highlight div.cards label:nth-of-type(4) {
  background-image: url("/img/singapore.jpg");
  background-size: cover;
  background-position: 40% 0%;
}
section.highlight div.cards label:nth-of-type(5) {
  background-image: url("/img/shanghai.jpg");
  background-size: cover;
  background-position: 100% 30%;
}





section.highlight div.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5%;
}
section.highlight div.dots label {
  width: clamp(0.3rem,10%,0.5rem);
  aspect-ratio: 1;

  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255);
  opacity: 0.6;
  margin: min(3%,0.4rem);
  transition-duration: 200ms;
}

#t-1:checked ~ div.dots label[for="t-1"],
#t-2:checked ~ div.dots label[for="t-2"],
#t-3:checked ~ div.dots label[for="t-3"],
#t-4:checked ~ div.dots label[for="t-4"],
#t-5:checked ~ div.dots label[for="t-5"]
{
  transform: scale(1.25);
  opacity: 1;
}
#t-1:checked ~ div.cards label[for="t-1"],
#t-2:checked ~ div.cards label[for="t-2"],
#t-3:checked ~ div.cards label[for="t-3"],
#t-4:checked ~ div.cards label[for="t-4"],
#t-5:checked ~ div.cards label[for="t-5"]
{
  z-index: 3;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.75);
}
#t-3:checked ~ div.cards label[for="t-2"],
#t-4:checked ~ div.cards label[for="t-3"],
#t-5:checked ~ div.cards label[for="t-4"],
#t-1:checked ~ div.cards label[for="t-5"],
#t-2:checked ~ div.cards label[for="t-1"]
{
  transform: translate3D(-75%,0,-7rem)
    rotateY(25deg);
  z-index: 2;
  opacity: 0.75;
}
#t-3:checked ~ div.cards label[for="t-4"],
#t-4:checked ~ div.cards label[for="t-5"],
#t-5:checked ~ div.cards label[for="t-1"],
#t-1:checked ~ div.cards label[for="t-2"],
#t-2:checked ~ div.cards label[for="t-3"]
{
  transform: translate3D(75%,0,-7rem)
    rotateY(-25deg);
  z-index: 2;
  opacity: 0.75;
}

#t-3:checked ~ div.cards label[for="t-1"],
#t-4:checked ~ div.cards label[for="t-2"],
#t-5:checked ~ div.cards label[for="t-3"],
#t-1:checked ~ div.cards label[for="t-4"],
#t-2:checked ~ div.cards label[for="t-5"]
{
  transform: translate3D(-50%,0,-14rem)
    rotateY(-50deg);
  z-index: 1;
  opacity: 0.4;
}
#t-3:checked ~ div.cards label[for="t-5"],
#t-4:checked ~ div.cards label[for="t-1"],
#t-5:checked ~ div.cards label[for="t-2"],
#t-1:checked ~ div.cards label[for="t-3"],
#t-2:checked ~ div.cards label[for="t-4"]
{
  transform: translate3D(50%,0,-14rem)
    rotateY(50deg);
  z-index: 1;
  opacity: 0.4;
}

@media only screen and (min-width: 600px) {

  #t-3:checked ~ div.cards label[for="t-1"],
  #t-4:checked ~ div.cards label[for="t-2"],
  #t-5:checked ~ div.cards label[for="t-3"],
  #t-1:checked ~ div.cards label[for="t-4"],
  #t-2:checked ~ div.cards label[for="t-5"]
  {
    transform: translate3D(-130%,0,-14rem)
      rotateY(50deg);
    z-index: 1;
    opacity: 0.4;
  }
  #t-3:checked ~ div.cards label[for="t-5"],
  #t-4:checked ~ div.cards label[for="t-1"],
  #t-5:checked ~ div.cards label[for="t-2"],
  #t-1:checked ~ div.cards label[for="t-3"],
  #t-2:checked ~ div.cards label[for="t-4"]
  {
    transform: translate3D(130%,0,-14rem)
      rotateY(-50deg);
    z-index: 1;
    opacity: 0.4;
  }
}






main section.content1 {
  background-color: #f2e5d9;
  height: auto;
}
section.content1 div.content_box > h2 {
  font-size: clamp(0.5rem,10vw,7vh);
  color: #000;
  padding: min(1em,1rem) 0 0 2.5%;
}
section.content1 div.content_box {
  max-width: 1000px;
  margin: 0 auto;
}

main section.content1 div.content_box div.cards {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem,5vw,1.5rem);
  padding: 2.5%;
}

main section.content1 div.card {
  background-color: #fff;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.4);
}
main section.content1 div.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main section.content1 div.card_content {
  padding: 1rem;
  font-size: clamp(0.5rem,5vw,1rem);
}


@media only screen and (min-width: 600px) {
  main section.content1 div.card {
    display: flex;
  }
  main section.content1 div.card:nth-of-type(2) {
    flex-direction: row-reverse;
  }
  main section.content1 div.card_image {
    flex: 1;
  }
  main section.content1 div.card_content {
    flex: 1.25;
  }
}




main section.content2 {
  background-color: rgba(255,255,255,1);
  height: auto;
}
main section.content2 div.content_box {
  max-width: 1000px;
  margin: 0 auto;
}
section.content2 div.content_box > h2 {
  font-size: clamp(0.5rem,10vw,7vh);
  color: #000;
  padding-left: 2.5%;
  margin-top: min(1em,1rem);
}
main section.content2 div.cards {
  display: flex;
  gap: clamp(0.5rem,5vw,1rem);
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-padding: 2.5%;
  padding: 2.5% 2.5% max(5%,1rem) 2.5%;
}
main section.content2 div.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.4);
  flex: 0 0 80%;
  scroll-snap-align: start;
  /* height: 100%; */
}
main section.content2 div.card_img {
  width: 100%;
  height: 60%;
}
main section.content2 div.card_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main section.content2 div.card_content {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(0.5rem,5vw,1rem);
}

@media only screen and (min-width: 600px) {
  main section.content2 div.card {
    flex-basis: 40%;
  }
}





main section.content3 {
  background-color: rgb(240, 240, 240);
  height: auto;
  padding: clamp(1em,2%,1rem) 0;
}
main section.content3 div.content_box {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2.5%;
  background-color: #fff;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.4);
}


main section.content3 div.title {
  width: fit-content;
  margin: 0 auto;
  margin-top: 7.5%;
}
main section.content3 div.title h3 {
  width: fit-content;
  padding-left: clamp(0.2rem,2vw,1rem);
  font-weight: 700;
  font-size: 3rem;
  font-size: clamp(1rem,20vw,10vh);
}
main section.content3 div.title h2 {
  width: fit-content;
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(1rem,45vw,30vh);
  line-height: 1em;

  background: url("/img/splash.jpg");
  background-clip: text;
  color: transparent;
  animation: splash 30s infinite linear;
}
@keyframes splash {
  0% {
    background-position: 50% 0%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}
main section.content3 div.tabs input {
  display: none;
}
main section.content3 div.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: clamp(0.5rem,5vw,1rem);
}
main section.content3 div.tabs label {
  cursor: pointer;
  padding: 10px;
  font-weight: 400;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 0.5px solid rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.1);
}
main section.content3 div.tabs label:first-of-type {
  padding-left: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}
main section.content3 div.tabs label:last-of-type {
  padding-right: 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}
main section.content3 div.tabs div.tab {
  order: 1;
  display: none;
  padding: 4%;
  width: 100%;
}
main section.content3 div.tabs input:checked + label + div.tab {
  display: initial;
}
main section.content3 div.tabs input:checked + label {
  background-color: rgb(255,255,255);
  color: #000;
}
main section.content3 div.img_wrapper {
  width: min(200px,60%);
  margin: 10% auto 0;
  position: relative;
}
main section.content3 div.img_wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to top,
  rgb(255, 255, 255, 1) 0%,
  rgb(255, 255, 255, 1) 5%,
  rgba(255,255,255, 0) 60%);
}
main section.content3 div.img_wrapper img {
  width: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 600px) {
  main section.content3 div.content_box {
    margin: 2.5% auto;
  }
  main section.content3 div.title {
    margin-top: 0;
  }
}










footer {
  background-color: var(--c-darkest);
}
footer div.content_box {
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
}


footer div.footer_items {
  display: flex;
  flex-direction: column;
  /* border: 1px dashed white; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}
footer div.footer_items > * { 
  /* border: 1px dashed blueviolet; */
  flex-basis: 33%;
  flex-grow: 1;
}

footer div.footer_items p {
  font-size: clamp(0.5rem,5vw,1rem);
}

footer div.logo {
  display: flex;
}
/* footer div.logo > * {
  border: 1px solid red;
} */
footer div.icon_wrapper {
  width: clamp(1rem,10vw,3rem);
}
footer div.icon_wrapper svg {
  fill: var(--c-link);
}

footer section.media_links span {
  font-weight: 700;
  font-size:clamp(0.5rem,5vw,2.5rem);
}
/* footer section.media_links p {
  border: 1px solid greenyellow;
} */

footer section.nav > span {
  font-weight: 700;
  font-size: clamp(0.5rem,10vw,1rem);
}
footer section.nav ul {
  list-style: none;
  font-size: clamp(0.5rem,10vw,1rem);
}
footer section.nav > ul > li > a {
  font-weight: 700;
}
footer a {
  color: #fff;
  text-decoration: none;
}

footer hr {
  opacity: 0.6;
}
footer p.copyright {
  text-align: center;
  font-size: clamp(0.5rem,10vw,1rem);
}

@media only screen and (min-width: 600px) {
  footer div.footer_items {
    flex-direction: row;
  }
}