header {
  position: fixed;
  width: 100%;
  height: clamp(1.5rem,20vw,var(--h-header));
  background-color: var(--c-darkest);
  z-index: 999;
  backdrop-filter: blur(10px);
}




nav div.icon_wrapper {
  display: inline-flex;
  height: 100%;
  padding: 20%;
}
#nav_logo {
  padding: 15%;
}
nav div.icon_wrapper svg {
  fill: var(--c-link);
}

#menu_toggle {
  display: none;
}

nav a, #hamburger {
  color: var(--c-link);
  text-decoration: none;

  opacity: var(--o-link);
  transition: opacity
    var(--t-longest)
    ease;
}
nav a:hover, nav a:focus-within,
#hamburger:hover, #hamburger:focus-within {
  opacity: 1;
  transition: opacity
    var(--t-long)
    ease-in;
}




nav {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

nav > div {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: flex-end;
}

#hamburger svg .line {
  transform-origin: center;
  transition: var(--t-long) ease;
}

nav ul.menu:focus-within ~ #hamburger svg .top,
nav ul.menu:focus-within ~ #hamburger svg .bot,
#menu_toggle:checked ~ #hamburger svg .top,
#menu_toggle:checked ~ #hamburger svg .bot {
  y: 40%;
}

nav ul.menu:focus-within ~ #hamburger svg .top,
#menu_toggle:checked ~ #hamburger svg .top {
  rotate: 45deg;
}
nav ul.menu:focus-within ~ #hamburger svg .mid,
#menu_toggle:checked ~ #hamburger svg .mid {
  opacity: 0;
}
nav ul.menu:focus-within ~ #hamburger svg .bot,
#menu_toggle:checked ~ #hamburger svg .bot {
  rotate: -45deg;
}




nav ul.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--c-darkest);
  list-style: none;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100vh;
  left: 0;
  padding-bottom: clamp(15vh,60vw,30vh);
  border-top: 1px solid rgba(255,255,255,0.1);

  transform-origin: top;
  transform: scale(1, 0);
  transition: transform
    var(--t-long)
    ease-out
    var(--t-short);
}

nav ul.menu:focus-within,
#menu_toggle:checked ~ ul.menu {
  transform: scale(1, 1);
  transition: transform
    var(--t-longest)
    ease-out;
}

nav ul.menu > li {
  font-weight: 400;
  display: flex;
  font-size: clamp(1rem,20vw,var(--f-menu));
  flex-direction: column;
  padding-left: max(0.5rem,25vw);

  opacity: 0;
  transition: opacity
    var(--t-long)
    ease-out;
}
nav ul.menu:focus-within > li,
#menu_toggle:checked ~ ul.menu > li {
  opacity: 1;
  transition: opacity
    var(--t-longest)
    ease-in
    var(--t-longer);
}
nav ul.menu > li:focus-within,
nav ul.menu > li:hover {
  border: 1px solid rgba(255,255,255,0.5);
  background-color: var(--c-darkest);
}

nav ul.menu > li > a {
  width: fit-content;
}
nav ul.menu > li:focus-within > a,
nav ul.menu > li:hover > a {
  opacity: 1;
}

nav ul.menu > li > a > * {
  padding: 0;
}

nav ul.menu li a div.icon_wrapper svg {
  width: clamp(1rem,20vw,var(--f-submenu));
  height: clamp(1rem,20vw,var(--f-submenu));

  transform-origin: 50% 50%;
  transform: rotate(90deg);
  transition: transform
    var(--t-long)
    ease;
}
nav ul.menu li:focus-within a div.icon_wrapper svg,
nav ul.menu li:hover a div.icon_wrapper svg {
  transform: rotate(180deg);
  transition: transform
    var(--t-long)
    ease;
}




nav ul.menu li ul {
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
nav ul.menu li:focus-within ul,
nav ul.menu li:hover ul {
  display: flex;
}

nav ul.menu li ul li {
  font-weight: 300;
  padding-left: clamp(1rem,5vw,2rem);
  font-size: clamp(1rem,15vw,var(--f-submenu));
}






@media only screen and (min-width: 600px) {

  #hamburger {
    display: none;
  }

  nav ul.menu {
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    background: transparent;
    top: 0;
    height: 100%;
    left: 0;
    padding: 0;
    transform: none;
  }

  nav ul.menu > li {
    justify-content: center;
    font-size: var(--f-header);
    padding: 0;
    opacity: 1;
    font-weight: 300;
  }
  nav ul.menu > li:focus-within,
  nav ul.menu > li:hover {
    border: 0;
    background-color: transparent;
  }



  nav ul.menu li ul {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 100%;
    left: 0;
    width: 100%;
    height: var(--h-subheader);
    justify-content: center;
    gap: 10%;
    padding: 0;
    background: linear-gradient(to right,
    rgba(0, 0, 0, 0) 0%,
    var(--c-darker) 25%,
    var(--c-darker) 75%,
    rgba(0, 0, 0, 0)) 100%;

    transform: scale(0,1);
    opacity: 0;
    transition: transform
      var(--t-long)
      ease
      var(--t-short),
      opacity
      var(--t-long)
      ease
      var(--t-short);
  }
  nav ul.menu li:focus-within ul,
  nav ul.menu li:hover ul {
    opacity: 1;
    transform: scale(1,1);
    transition: transform
      var(--t-long) ease,
      opacity
      var(--t-long) ease;
  }

  nav ul.menu li a div.icon_wrapper svg {
    width: var(--f-subheader);
    height: var(--f-subheader);
  }

  nav ul.menu li ul li {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: var(--f-subheader);
    opacity: 0;
    transition: opacity
      var(--t-long) ease;
  }
  nav ul.menu li:focus-within ul li,
  nav ul.menu li:hover ul li {
    opacity: 1;
    transition: opacity
      var(--t-long)
      ease
      var(--t-longer);
  }
  
}