header {
  position: fixed;
  width: 100%;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.75);
}
nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
  /* border: 1px dashed greenyellow; */
}
#menu_toggle {
  display: none;
}




nav .icon_wrapper {
  display: inline-flex;
  height: 100%;
  width: auto;
  padding: 5px;
  border: 1px dashed red;
}
nav .icon_wrapper svg {
  fill: #fff;
}





nav a, nav label {
  color: #fff;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 350ms ease;
}
nav a:hover, nav label:hover {
  opacity: 1;
}





nav .container {
  border: 1px dashed cyan;
}
nav > * {
  flex-grow: 0;
}





nav .social {
  display: flex;
  justify-content: flex-end;
}





nav .menu {
  flex-grow: 1;
}
nav .menu ul {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid red;
}
nav .menu ul li {
  border: 1px solid plum;
}





nav .hamburger svg .line {
  transition: 400ms;
  transform-origin: center;
}
#menu_toggle:checked ~ .hamburger svg .top,
#menu_toggle:checked ~ .hamburger svg .bot {
  y: 40%;
}
#menu_toggle:checked ~ .hamburger svg .top {
  rotate: 45deg;
}
#menu_toggle:checked ~ .hamburger svg .mid {
  opacity: 0;
}
#menu_toggle:checked ~ .hamburger svg .bot {
  rotate: -45deg;
}
nav .hamburger {
  display: none;
}





@media only screen and (max-width: 600px) {

  nav .hamburger {
    display: inline;
  }



  nav .social {
    flex-grow: 1;
  }



  nav .menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.50);

    transform-origin: top;
    transform: scale(1, 0);
    transition: 500ms;
  }
  nav .menu ul {
    flex-direction: column;
    max-height: 50%;
    align-items: flex-start;
  }





  nav .menu a {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  #menu_toggle:checked ~ .menu {
    transform: scale(1, 1);
  }
  #menu_toggle:checked ~ .menu a {
    opacity: 0.6;
    transition: opacity 400ms ease-in-out 250ms;
  }
  #menu_toggle:checked ~ .menu a:hover {
    opacity: 1;
    transition: opacity 350ms ease;
  }

}